@page "/budget/income-goals"

@using UpBlazor.Web.Shared.Pages.Budget.IncomeGoals

<Title Level="3">Income Goals</Title>

<UserIdWrapper Context="userId">
    <UpApiWrapper Context="accounts" Action="api => api.GetAccountsAsync()" 
                  T="PaginatedDataResponse<AccountResource>">
        <RepositoryWrapper TRepository="IIncomeRepository"
                           Action="x => x.GetAllByUserIdAsync(userId)"
                           TResponse="IReadOnlyList<Core.Models.Income>">
            <IncomeGoalsInner/>
        </RepositoryWrapper>
    </UpApiWrapper>
</UserIdWrapper>


