@using System.ComponentModel
@using System.ComponentModel.DataAnnotations
@inject TwoUpClient TwoUpClient

<Card Title="Connect with your Player 2">
    <Form Model="_connectRequest" 
          LabelColSpan="4"
          WrapperColSpan="20"
          OnFinish="OnFormFinishAsync"
          Loading="_loading">
        <FormItem>
            <Input DebounceMilliseconds="int.MaxValue" @bind-Value="@context.Email" />
        </FormItem>
        <FormItem>
            <TextArea DebounceMilliseconds="int.MaxValue" MinRows="2" @bind-Value="@context.Message" />
        </FormItem>
        <FormItem WrapperColOffset="4" WrapperColSpan="20">
            <Button Type="primary" HtmlType="submit">
                Submit
            </Button>
        </FormItem>
    </Form>
</Card>

@code
{
    private bool _loading;

    private ConnectRequest _connectRequest = new();
    
    private async Task OnFormFinishAsync()
    {
        _loading = true;

        await TwoUpClient.RequestTwoUpAsync(_connectRequest.Email, _connectRequest.Message);
        
        _loading = false;
    }


    private class ConnectRequest
    {
        [DisplayName("Email"), Required, EmailAddress, StringLength(128)]
        public string Email { get; set; }

        [DisplayName("Message"),StringLength(512)]
        public string Message { get; set; }
    }
}
