@page "/"

@inject ICurrentUserService _currentUserService

<UpApiWrapper Action="api => api.GetAccountsAsync()" T="PaginatedDataResponse<AccountResource>">
    <div style="display: flex; justify-content: center; align-items: center">
        @foreach (var transactionAccount in context.Data.Where(x => x.Attributes.AccountType == AccountType.Transactional))
        {
            <Card Title="@transactionAccount.Attributes.DisplayName"
                  Bordered="@true"
                  Hoverable="@true"
                  Style="margin: 1rem">
                @transactionAccount.Attributes.CreatedAt
                $@transactionAccount.Attributes.Balance.Value
            </Card>
        }
    </div>

    <Table TItem="AccountResource" DataSource="context.Data.Where(x => x.Attributes.AccountType == AccountType.Saver)">
        <ChildContent Context="tableContext">
            <Column Title="Account" DataIndex="Attributes.DisplayName" TData="string" Sortable></Column>
            <Column DataIndex="Attributes.CreatedAt" TData="DateTime" Format="dd/MM/yyyy"></Column>
            <Column DataIndex="Attributes.Balance.Value" TData="string" Sortable>
                <span>$@tableContext.Attributes.Balance.Value</span>
            </Column>
        </ChildContent>
    </Table>
</UpApiWrapper>
