@page "/"

@layout MainLayout

@inject ICurrentUserService _currentUserService

<div style="display: flex; 
            width: 100%;
            justify-content: center;
            margin-bottom: 4rem;
            align-items: center">
    <Image Src="https://raw.githubusercontent.com/Hona/UpBlazor/main/_docs/img/logo.png"
         alt="UpBlazor logo"/>
</div>


<Row Gutter="16">
    <Col Lg="8" Md="12">
        <Card Title="Track expenses"
              Bordered Cover="coverTemplate"
              Hoverable="true">
            Track expenses and discover ways to save.
        </Card>
    </Col>
    <Col Lg="8" Md="12">
        <Card Title="Budgets"
              Bordered Cover="coverTemplate"
              Hoverable="true">
            Create budgets to keep track of your spending
        </Card>
    </Col>
    <Col Lg="8" Md="12">
        <Card Title="View Helpful Insights"
              Bordered Cover="coverTemplate"
              Hoverable="true">
            Learn about where your money is going and identify where you can save
        </Card>
    </Col>
</Row>

@code
{
    RenderFragment coverTemplate = @<img alt="example" src="https://raw.githubusercontent.com/Hona/UpBlazor/main/_docs/img/logo.png"/>;
}