@page "/insights/planner"

<Title Level="3">Income Planner</Title>

<IncomeSelector @bind-SelectedIncome="_income"/>

<Divider />

<SingleIncomePlanner Income="@_income"/>

@code
{
    private Income _income;
}