@page "/settings/two-up"

@using UpBlazor.Web.Shared.Pages.Settings.TwoUpSettings

<Title Level="3">2Up</Title>

<UserIdWrapper Context="userId">
    <TwoUpConnectRequests />
    <ConnectWithPlayer2 />
    
    <Divider />

    <TwoUpTable />
</UserIdWrapper>