@page "/settings/two-up"

<Title Level="3">2Up</Title>

<UserIdWrapper Context="userId">
    <TwoUpConnectRequests />
    <ConnectWithPlayer2 />
    
    <Divider />

    <TwoUpTable />
</UserIdWrapper>