@page "/admin/component-explorer"
@using UpBlazor.Web.Pages.Admin.ComponentExplorer.Demos

<Title Level="3">Component Explorer</Title>

<EnumSelect TEnum="Components?" @bind-Value="_selectedComponent" AllowClear>
    Select a Component
</EnumSelect>

<Card Style="margin: 1rem">
    @switch (_selectedComponent)
    {
        case Components.UserDropdown:
            <UserDropdownDemo/>
            break;
        case Components.ExpenseSourceInput:
            <ExpenseSourceInputDemo />
            break;
        case Components.IncomeIdColumn:
            break;
        case Components.IncomeSelector:
            break;
        case Components.MoneyInput:
            break;
        case Components.SaverIdColumn:
            break;
        case Components.SaverSelector:
            break;
        case Components.UpFooter:
            break;
        case null:
            break;
    }
</Card>

@code 
{
    private Components? _selectedComponent;
}