<Column Title="@Title" TData="string">
    @{      
        var saver = Accounts.FirstOrDefault(x => x.Id == SaverId);
    }
    @if (saver != null)
    {
        <span>@(saver.Attributes.DisplayName) ($@(saver.Attributes.Balance.Value))</span>
    }
</Column>

@code
{
    [Parameter]
    public IReadOnlyList<AccountResource> Accounts { get; set; }

    [Parameter]
    public string? SaverId { get; set; }

    [Parameter]
    public string Title { get; set; } = "From Saver";
}
