@using Up.NET.Models

@inject UpClient _upClient

<div style="display: flex; justify-content: center; align-items: center; width: 100%">
    @if (_loading)
    {
        <Spin />
    }
    else
    {
        <AuthorizeView>
            <Authorized>
                @if (_response is null)
                {
                    <span>❌</span>
                }
                else
                {
                    <span>@_response.Meta.StatusEmoji</span>
                }
            </Authorized>
            <NotAuthorized />
        </AuthorizeView>
    }
    
</div>

@code
{
    private bool _loading;
    private PingResponse? _response;

    protected override async Task OnInitializedAsync()
    {
        _loading = true;

        try
        {
            _response = await _upClient.PingAsync(false);
        }
        catch
        {
            _response = null;
        }
        
        _loading = false;
    }
}
