@typeparam TTableContext

<Column Title="@Title" @bind-Field="@TableContext.SaverId">
    @{      
        var saver = Accounts.Data.FirstOrDefault(x => x.Id == TableContext.SaverId);
    }
    @if (saver != null)
    {
        <span>@(saver.Attributes.DisplayName) ($@(saver.Attributes.Balance.Value))</span>
    }
</Column>

@code
{
    [CascadingParameter(Name = CascadingConstants.UpApiWrapper)]
    public PaginatedDataResponse<AccountResource> Accounts { get; set; }

    [Parameter]
    public TTableContext TableContext { get; set; }

    [Parameter]
    public string Title { get; set; } = "From Saver";
}
