<div style="display: flex; justify-content: center; align-items: center; width: 100%">
    <UpApiWrapper Action="api => api.GetPingAsync()" T="PingResponse" HideOnNoAccessToken="@true">
        API: @context.Meta.StatusEmoji
    </UpApiWrapper>
</div>