@page "/budget/savings-plan"

<Title Level="3">Savings Plan</Title>

<IncomeSelector SelectedIncomeChanged="Callback"/>

<Divider />

<SingleSavingsPlan Income="@_income"/>

@code
{
    private Income _income;
    
    private void Callback(Income obj)
    {
        _income = obj;
    }
}