@page "/budget/savings-plan"

<Title Level="3">Savings Plan</Title>

<IncomeSelector SelectedIncomeChanged="OnSelectedIncomeChanged"/>

<Divider />

<SingleSavingsPlan Income="@_income"/>

@code
{
    private Income _income;
    
    private void OnSelectedIncomeChanged(Income income)
    {
        _income = income;
    }
}