@inject IIncomeRepository _incomeRepository

<RepositoryWrapper @ref="_repoRef"
                   TRepository="IIncomeRepository"
                   Action="x => x.GetAllByUserIdAsync(UserId)"
                   TResponse="IReadOnlyList<Income>"
                   Context="income"
                   ChildHandlesLoading="true">
    <Title Level="3">Income</Title>
    <Table DataSource="income" Loading="LoadingAggregate" Context="tableContext">
        <Column Title="Name" @bind-Field="@tableContext.Name" Sortable/>
        <Column Title="Amount" @bind-Field="tableContext.ExactMoney" Format="$0" Sortable/>
        <Column Title="Start Date" @bind-Field="@tableContext.StartDate" Format="dd/MM/yyyy" Sortable/>
        <Column Title="Interval Units" @bind-Field="@tableContext.IntervalUnits" Sortable/>
        <Column Title="Interval" @bind-Field="@tableContext.Interval" Sortable/>
        <ActionColumn>
            <Space>
                <SpaceItem>
                    <Button Danger OnClick="async () => await DeleteAsync(tableContext)">Remove</Button>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </Table>
</RepositoryWrapper>

@code
{
    [CascadingParameter(Name = CascadingConstants.UserIdWrapper)]
    public string UserId { get; set; }

    public RepositoryWrapper<IIncomeRepository, IReadOnlyList<Income>> RepositoryWrapper => _repoRef;
    
    private bool _loading;

    private bool LoadingAggregate => _loading ? _loading : _repoRef.Loading;
    
    private RepositoryWrapper<IIncomeRepository, IReadOnlyList<Income>> _repoRef;
    
    private async Task DeleteAsync(Income income)
    {
        _loading = true;

        await _incomeRepository.DeleteAsync(income);
        
        _loading = false;

        await _repoRef.ReloadAsync();
    }
}